* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

/* BUTTONS SECTION */

.btns {
  border: 1px solid black;
  width: 422px;
  margin: 25px auto 5px;
  padding: 10px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  padding: 5px 20px;
  border: 1px solid #000;
  border-radius: 0;

  font-size: 16px;
}

.grid-size-btn {
  flex: 100%;
}

.active {
  background-color: #b8b7b7;
}

/* GRID SECTION */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 422px;
  padding: 10px;
  margin: auto;
  border: 1px solid #000;
}

.cell {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
}